@import "tailwindcss";
@import "tw-animate-css";

@keyframes meteor {
  0% {
    transform: rotate(215deg) translateX(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: rotate(215deg) translateX(-500px);
    opacity: 0;
  }
}

.animate-meteor {
  animation: meteor var(--duration, 5s) linear var(--delay, 0s) infinite;
}

@theme inline {
  /* Define font family variables */
  --font-heading: var(--font-space-mono);
  --font-body: var(--font-roboto);
}

@keyframes shine {
  0% {
    --x: -100%;
  }
  100% {
    --x: 200%;
  }
}
